@font-face {
    font-family: gamefont;
    src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_c5H3gnD_g.woff2);
}
 
#ammoIcon {
    display: none!Important
}
 
#timerIcon {
    display: none!Important
}
 
 
#aContainer {
    display: none!important
}
 
#voiceDisplay{
    display: none;
}
 
#uiBase.onMenu #voiceDisplay {
    display: none;
}
 
.imageButton {
   display: none!important
}
 
.endAHolder {
    display: none!important
}
 
#endAContainer {
    display: none!important
}
 
#supportMapCreator {
    display: none!important
}
 
#supportKrunker {
    display: none
}
 
.UIB {
    background-color: transparent !important
}
 
.leftUIB {
    background-color: transparent !important
}
 
#healthValueHolder {
    background-color: transparent !important
}
 
#leaderDisplay {
    background-color: transparent!Important
}
 
.weapKey{
    display: none!important
}
 
#weapDisplay{
    display: none!important
}
 
.countIcon {
    background-color: transparent!Important;
    font-size: 25px;
}
 
#timerDisplay {
    padding-top: 0px;
}
 
.leaderItem {
    display: flex;
    font-size: 25px;
}
 
.chatItem {
    word-wrap: break-word;
    display: inline-block;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 12px;
    color: #fff;
    font-size: 19px;
    max-width: 310px;
}
 
#chatInput {
    width: 269px;
    padding: 6px;
    padding-left: 10px;
    margin-top: 0;
    color: #fff;
    font-size: 20px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.4);
    border: 2px solid rgba(0, 0, 0, 0.1);
    pointer-events: all;
    border-radius: 5px;
    margin-left: 4px;
}
 
#ammoDisplay {
    margin-right: -15px;
    display: inline-block;
    padding: 7px;
    padding-top: 8px;
    padding-left: 20px;
    font-size: 50px;
    letter-spacing: -2px;
    border-radius: 6px;
    height: 65px;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-image: url(../img/blank_2.png);
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
}
 
#pingText {
    font-size: 25px;
    vertical-align: top;
    color: rgba(255, 255, 255, 0.5);
}
 
#healthValue {
    color: #fff;
    font-size: 25px;
    will-change: transform;
    display: inline-block;
}
 
#maxHP {
    color: rgba(255, 255, 255, 0.8);
    font-size: 25px;
}
 
#chatList {
    background-color: var(--transp) !important
}
#chatInput {
    background-color: var(--transp) !important;
    border: var(--transp) !important;
    color: var(--white);
    text-shadow: var(--outline)
}
 
#chatInputHolder {
    background-color: var(--transp) !important;
    border: var(--transp) !important;
}
#pingText:after {
    content: ' ms';
    color: var(--white);
    text-shadow: var(--outline)
}
#pingText {
    color: var(--white);
    text-shadow: var(--outline)
}
#pingDisplay .material-icons {
    display: none
}
#fpsDisplay {
    color: var(--white);
    text-shadow: var(--outline)
}
#ingameFPS {
    color: var(--white) !important;
    text-shadow: var(--outline)
}
 
#seasonLabel {
    display: none;
}
 
#loadingBg {
    background-image: url(https://cdn.discordapp.com/attachments/833190169308954644/863449090272657429/ORA2.png);
}
 
#mainLogo {
	content: url(https://media.discordapp.net/attachments/864239467736465418/876204478737575997/ORA31-removebg-preview-removebg-preview_1.png);
	width: 250%;
    height: 250%;
    margin-top: -100px;
}
 
}
 
.buttonPI, .buttonO, .buttonP, .buttonG, .buttonB, .buttonR {
    border: 4px solid #fa50ae00!important;
}
